/* information leaf on top left */

.information-container {
  top: -560px;
  position: fixed;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  height: max-content;
  color: #d0c1c1;
  padding: 2px;
}

p {
  margin: 2px;
}

.info-div {
  box-sizing: border-box;
  line-height: 20px;
  font-size: 16px;
  padding: 8px;
  max-width: 300px;
  max-height: 560px;
  background-color: #3a3434;
  transition: all 0.3s ease-in-out;
}

#info-btn {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #373434;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 90px;
}

a {
  color: #60c5ed;
}
a:hover {
  color: #bfbf19;
}

#info-btn:hover {
  background-color: #e93169;
}
